body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}